.createPost {
  display: flex;
  justify-content: center;
  background-color: #dae0e6;
  padding: 20px 24px;
  min-height: calc(100vh - 50px);

  .container {
    background-color: white;
    max-width: 880px;
    width: 880px;
    padding: 20px 100px;

    h2 {
      margin-bottom: 40px;
      text-align: center;
    }

    form {
      textarea {
        border: none;
        border: 0.8px solid lightgray;
        width: 100%;
        outline: none;
        outline: 1px solid white;
        border-radius: 4px;
        padding: 10px;
        font-size: 14px;
        height: 200px;
        &:focus {
          outline-color: blueviolet;
        }
      }

      p {
        display: flex;
        align-items: center;
        gap: 100px;
        cursor: pointer;
        margin-top: 20px;
        
        label{
          padding: 8px 16px;
          border: 1px solid lightgray;
          cursor: pointer;
          font-size: 14px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }

          input{
            display: none;
          }
        }

        span {
          font-size: 14px;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      img {
        width: 300px;
        height: 300px;
        object-fit: cover;
      }

      button {
        margin-top: 40px;
        float: right;
        padding: 8px 16px;
        border: none;
        color: white;
        background-color: blueviolet;
        font-weight: bold;
        cursor: pointer;
        border-radius: 20px;
        font-size: 11px;
        &:hover {
          opacity: 0.8;
          transition: all 0.3s linear;
        }
      }
    }
  }
}
