.profile {
  background-color: #f5f5f5;
  min-height: calc(100vh - 50px);

  .backToTop {
    transition: all 0.3s linear;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 20px;
    color: white;
    background-color: blueviolet;
    cursor: pointer;
    border: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
  }

  .background {
    height: 120px;
    width: 100%;
    background-color: black;
  }

  .container {
    max-width: 1024px;
    margin: 0 auto;
    gap: 20px;

    .userMain {
      border-radius: 20px;
      background-color: white;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -50px;
      position: relative;

      .userActions {
        position: absolute;
        right: 20px;
        top: 20px;

        button {
          padding: 8px 12px;
          border: none;
          border-radius: 8px;
          cursor: pointer;
          color: white;
          font-weight: bold;
          background-color: blueviolet;
          margin-right: 18px;
          border: 1px solid blueviolet;
        }

        .icon {
          font-size: 20px;
          cursor: pointer;
        }
      }

      .userInfo {
        max-width: 700px;

        li {
          text-align: center;
          display: flex;
          align-items: center;
        }

        .list {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;

          li {
            margin-bottom: unset;
          }
        }
      }

      img {
        margin: -80px 0 40px 0;
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }

      h1 {
        font-size: 30px;
        margin-bottom: 10px;
      }
    }

    .userContent {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .left {
        flex: 1;

        ul {
          border-radius: 10px;
          padding: 20px;
          list-style-type: none;
          background-color: white;

          li {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 10px;

            .icon {
              font-size: 18px;
            }

            &:last-child {
              margin-bottom: unset;
            }
          }
        }

        h2 {
          margin: 20px 0 10px 0;
        }

        .listFriend {
          border-radius: 10px;
          display: flex;
          flex-wrap: wrap;
          gap: 50px;
          background-color: white;
          padding: 20px;
          flex: 3;

          .item {
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 4px;

            img {
              width: 60px;
              height: 60px;
              object-fit: cover;
              border-radius: 50%;
            }

            p {
              font-weight: 600;
              font-size: 14px;
            }
          }
        }
      }

      .right {
        flex: 2;

        .feed {
          .imgContainer {
            display: none;
          }
        }
      }
    }
  }
}
