.listCm {
  .comment {
    display: flex;
    gap: 20px;
    // align-items: center;

    .imgContainer {
      width: 40px;
      height: 40px;
      margin-top: 20px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .info {
      padding: 10px 20px;
      border: 0.1px solid #c9c9c9;
      border-radius: 4px;
      width: 100%;
      .name {
        border-radius: 20px;
        padding: 2px 14px;
        width: fit-content;

        span {
          font-size: 14px;
          font-weight: 600;
          cursor: pointer;
        }

        p {
          font-size: 16px;
          color: blueviolet;
        }
      }

      .details {
        margin-top: 2px;
        display: flex;
        gap: 15px;

        span {
          font-size: 11px;
          color: gray;
          font-weight: bold;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
            transition: all 0.3s linear;
          }

          &:first-child:hover {
            cursor: text;
          }
        }
      }

      .replyCms {
        position: absolute;
        top: 10px;
        left: 0;
      }
    }
  }
}
