.comment {
  display: flex;
  gap: 20px;

  .imgContainer {
    width: 40px;
    height: 40px;
    margin-top: 20px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .info {
    width: 100%;

    .namecontent {
      padding: 18px;
      border-radius: 8px;
      border: 0.1px solid #ccc;

      .name {
        width: fit-content;
        margin-bottom: 10px;

        span {
          font-size: 13px;
          font-weight: 300;
          cursor: pointer;
          margin-left: 10px;
        }
      }

      p {
      }
    }

    .details {
      margin-top: 8px;
      display: flex;
      gap: 20px;

      p {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        .iconCm {
          font-size: 18px;
        }

        span {
          font-size: 13px;
          color: gray;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
            transition: all 0.3s linear;
          }
        }
      }
    }
  }
}
