.comment {
  .info {
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }

    .name {
      display: flex;
      align-items: center;
      gap: 5px;

      p {
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
      }

      span {
        font-size: 9px;
        color: gray;
      }
    }
  }

  .text {
    width: 90%;
    margin: 8px 0 0 15px;
    padding-left: 25px;
    border-left: 0.1px solid lightgray;
    position: relative;

    p {
      text-align: justify;
      font-size: 14px;
    }

    span {
      position: absolute;
      right: 0;
      font-size: 10px;
      cursor: pointer;
      color: blueviolet;
      &:hover {
        text-decoration: underline;
        transition: all 0.3s linear;
      }
    }
  }
}
