.editProfile {
  background-color: #f5f5f5;
  h1 {
    font-size: 30px;
    margin: 20px 0 20px 226.4px;

    span {
      font-size: 30px;
      color: blueviolet;
    }
  }

  .container {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;
    gap: 20px;

    .left {
      margin-top: 10px;
      flex: 1;
      background-color: black;
      height: 30px;
    }

    .right {
      flex: 3;

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .formGroup {
          background-color: white;
          padding: 20px;
          border-radius: 10px;
          border: 0.1px solid lightgray;

          h3 {
            font-size: 26px;
            margin-bottom: 28px;
          }

          label {
            font-weight: 500;
          }

          input {
            margin-top: 8px;
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
            outline: 1px solid lightgray;
            border-radius: 10px;
            margin-bottom: 24px;

            &:focus {
              outline-color: blueviolet;
            }
          }

          p {
            margin-top: 8px;
            display: flex;

            img {
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 50%;
            }

            input {
              outline: unset;
              border-radius: unset;
              margin-top: unset;
              margin-bottom: unset;
            }
          }
        }
      }
    }
  }
}
