.navbar {
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  border-bottom: 0.1px solid lightgray;

  .container {
    padding: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;

    .left {
      display: flex;
      align-items: center;
      gap: 20px;

      p {
        font-weight: bold;
        margin-right: 20px;
        color: blueviolet;
        font-size: 20px;
      }

      .searchContainer {
        border: 1px solid #ccc;
        width: 450px;
        height: 40px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 20px;
        background-color: #f6f7f8;
        &:hover {
          border-color: blueviolet;
          transition: all 0.3s linear;
        }

        input {
          border: none;
          width: 100%;
          outline: none;
          background-color: transparent;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 20px;

      .savedFeed {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      button {
        padding: 10px 15px;
        border: none;
        background-color: blueviolet;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        border: 0.1px solid blueviolet;
        border-radius: 20px;

        &:hover {
          opacity: 0.8;
          transition: all 0.3s linear;
        }
      }

      .account {
        padding: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        z-index: 99;
        position: relative;

        img {
          border: 2px solid blueviolet;
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          cursor: pointer;
        }

        ul {
          list-style-type: none;
          border: 0.1px solid lightgray;
          position: absolute;
          background-color: #ffffff;
          width: 220px;
          border-radius: 10px;
          right: 0px;
          top: 45px;
          z-index: 99;
          padding: 8px;

          li {
            padding: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;

            &:first-child{
              margin-bottom: 5px;
              border-bottom: 0.1px solid lightgray;
            }

            &:hover {
              background-color: lightgray;
              transition: all 0.3s linear;
              color: blueviolet;
              border-radius: 10px;
            }

            .icon {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
